legend {
    font-size: 100%;
}
a.notCurrentPage.nav-link.dropdown-toggle {
    color: white;
}
.navbar-dark .navbar-nav .nav-link.notCurrentPage{
    color:white;
}
.currentPage{
    text-decoration: underline;
}
.ayuda {
    font-size: 85%;
}
.formCheckbox{
    margin:auto;
}
.form-check{
    margin-left:15%;
}
.field-Checkbox{
    display:inline;
    padding:2%;
    text-align: left;
}
#btnVaciar{
    background-color: black;
    border-color: black;

}
#btnEnviar{
    background-color: black;
    border-color: black;
}