body {
    text-align: center;
}

#tituloNavbar {
    color: crimson;
    font-size: 45px;
}


.row {
    margin-right: 0;
    margin-left: 0;
}

.titulo {
    background-color: crimson;
    text-align: center;
    padding: 7px;
    margin-bottom: 0;
}

p {
    text-align: left;
}


.list {
    text-align: left;
    display: inline-block;
}

.principal {
    background-color: #d5d5d5;
}


.contenido {
    font-size: 115%;
}