body {
    text-align: center;
}

.tituloNavbar {
    color: white;
    font-size: 45px;
}


.row {
    margin-right: 0;
    margin-left: 0;
}

.titulo {
    background-color: white;
    text-align: center;
    padding: 7px;
    margin-bottom: 0;
}

p {
    text-align: left;
}
.content-table{
    display:inline-grid;
    
}
.url-link{
    background-color: white;
    border-color: black;
    border-radius: 10px;
}
.link{
    color:#1a0dab;
}
.list {
    text-align: left;
    display: inline-block;
}

.principal {
    background-color: #d5d5d5;
    padding-bottom:5%;
}


.contenido {
    font-size: 115%;
    margin:2%;
}

.oculto {
    position: absolute;
    text-indent:-999em;
}